body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

.small {
    font-size: 100%;
}

header {
    background: #142634;
    color: #ffffff;
    height: 50px;
    left: 0;
    min-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
}

.lang-menu {
    margin: 0;
    display: flex;
    list-style: none;
}

.lang-menu li {
    margin-left: 10px;
}

.lang-menu a {
    text-decoration: none;
    color: #8c97a3;
    padding: 0 5px 0 5px;
}

.lang-menu li.active a {
    color: #007bff;
    background-color: #ffc107;
}

.logo {
    /* margin: 0 auto; */
    margin-left: 15px;
    max-width: 350px;
}

.logo a {
    color: #0057b8;
    font-weight: 900;
    text-decoration: none;
    font-size: 22px;
}

.logo a span {
    color: #ffd800;
    font-weight: 900;
    text-decoration: none;
}


.support-button:hover {
    color: #fff;
    text-decoration: none;
}

.search-block {
    margin: 0 auto;
    max-width: 100%;
    width: 500px;
}

#search {
    width: 200px;
    transition: all .3s ease;
    position: relative;
    z-index: 1;
}

#search:focus {
    width: 500px;
}

.title_h2 {
    font-size: 22px;
    font-weight: 900;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}

.visitors-text {
    font-size: 14px;
}

.body-pane {
    height: 100%;
    min-height: 100%;
    padding-left: 225px;
    position: relative;
    transition: padding-left 0.2s ease 0s;
    width: 100%;
    transition: all .3s ease;
}

.body-pane.small {
    padding-left: 50px;
}

.main-pane {
    background-color: #fff;
    height: 100%;
    position: relative;
    width: 100%;
    padding: 80px 15px;
    min-height:  95vh;
}

.navbar-left {
    background-color: #142634;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 50px;
    transition: left 0.2s ease 0s;
    width: 225px;
    z-index: 9;
    border-top: 1px solid #777;
    transition: all .3s ease;
}

.navbar-left.small {
    width: 50px;
}

.navbar-left li i {
    font-size: 17px;
    vertical-align: middle;
}

.navbar-left li span {
    margin-left: 5px;
    vertical-align: middle;
}


.menu-btn {
    padding: 10px 17px;
    border-right: 1px solid #777;
    cursor: pointer;
}

.content {
    margin-top: 50px;
  }
  
  .content-box {
    padding: 30px 15px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15);
    transition: all .3s linear;
    margin-bottom: 25px;
    min-height: 500px;
  }
  
  .content-box:hover {
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, .15);
  }
  
  .title-video {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }

  .menu {
      color: #fff;
      font-size: 13px;
      padding: 0;
      margin: 0;
  }

  .menu li {
      list-style-type: none;
      position: relative;
  }

  .menu a {
      color: #8c97a3;
      text-decoration: none;
      display: block;
      padding: 15px 5px 15px 15px;
  }

  .menu a span {
    color: #8c97a3;
  }

  .menu .active span {
    color: #fff;
  }

  .menu li:hover {
    background: #28384a;
  }

  .menu li:hover a,
  .menu li:hover span {
      color: #fff;
  }

  .menu li.active {
      background: #28384a;
  }

  .menu li.active a {
      color: #fff;
  }


  @media (max-width: 767px) {
    .logo a {
       font-size: 16px !important; 
    }

    .search-block {
        margin: 0 0 0 10px;
        width: 200px;
    }
    #search {
        width: 150px;
        transition: all .3s ease;
    }
    
    #search:focus {
        width: 270px;
    }

    .visitors-text {
        font-size: 12px;
        text-align: center;
    }
}

.right-btn {
    padding: 0;
    margin: 0;
    margin-right: 15px;
    /*margin-left: auto;*/
    display: flex;
    align-items: center;
}

.right-btn li {
    list-style-type: none;
    color: #fff;
    padding:  0 10px;
}

.headerright-btn:last-child {
    border-right: 1px solid #777;
}

/* .right-btn li:hover {
    background-color: #1d303c;
} */

.support-button {
    border: 0;
    background-color: transparent;
    color: #fff;
    padding: 10px 15px;
}


.support-button i {
    font-size: 21px;
    animation: icon-rotation-anim 10s infinite ease-in-out;
}


.messenger_list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 0;
}

.messenger_item {
    list-style-type: none;
}

.telegram {
    background-color: #039be5;
    margin-right: 20px;
}

.messenger_link {
    width: 120px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 18px;
    padding: 12px 8px;
    display: inline-block;
    transition: all .2s linear;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.viber {
    background-color: #675da9;
}


.email i {
    animation: icon-rotation-anim 10s infinite ease-in-out;
}

@keyframes icon-rotation-anim {
    0% {
        transform: rotate(0);
    }
    18% {
        transform: rotate(0);
    }
    20% {
        transform: rotate(45deg);
    }
    22% {
        transform: rotate(-45deg);
    }
    24% {
        transform: rotate(45deg);
    }

    26% {
        transform: rotate(0);
    }

    51% {
        transform: scale(1);
    }

    52% {
        transform: scale(1.3);
    }

    53% {
        transform: scale(0.8);
    }

    54% {
        transform: scale(1.3);
    }

    55% {
        transform: scale(1);
    }

    58% {
        transform: scale(1.3);
    }

    59% {
        transform: scale(0.8);
    }

    60% {
        transform: scale(1.3);
    }

    61% {
        transform: scale(1);
    }

    78% {
        transform: rotate(0);
    }
    80% {
        transform: rotate(45deg);
    }
    82% {
        transform: rotate(-45deg)
    }

    84% {
        transform: rotate(45deg);
    }

    86% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}